<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LedMessageBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <LedMessageBoard.Properties.Settings>
            <setting name="Global_RefreshRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Global_ScrollRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Global_DefaultViewPortMessage" serializeAs="String">
                <value>Message not found</value>
            </setting>
            <setting name="Global_Brightness" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Global_StaticDisplayDuration" serializeAs="String">
                <value>5</value>
            </setting>
        </LedMessageBoard.Properties.Settings>
    </userSettings>
</configuration>